<h1><%= @article.title %></h1>
<%= link_to edit_article_path(@article) do %>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to article_path(@article), method: :delete, data: { confirm: "Delete #{@article.title}?"} do %>
  <i class="fas fa-trash"></i>
<% end %>
<p><%= @article.content %></p>
